<footer class="fixed bottom-0 w-full bg-vscode-sidebar border-t border-gray-700 px-6 py-1 text-left text-gray-400 text-xs">
     <small>
          buildDate : {{ site.time | date_to_rfc822 }}
     </small>
</footer>

<link rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/solid.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/brands.min.css' | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">