<section id="view-pgp" class="hidden fade-in space-y-8">
    <div class="bg-vscode-sidebar rounded-lg p-6 border-l-4 border-vscode-accent shadow-md">
        <div class="flex items-center mb-4">
            <i class="fa-solid fa-key text-vscode-accent mr-3 text-xl"></i>
            <h2 class="text-2xl font-bold text-white">Public PGP Key</h2>
            <p>Feel free to use this key to send me encrypted messages.</p>
        </div>
        <pre class="bg-black/30 rounded-md p-4 text-sm text-gray-300 font-mono overflow-x-auto leading-relaxed border border-gray-700">{% include jacob.nexak.com.asc %}</pre>
    </div>
</section>
