//Custom override of BootStrap

// Body
$body-bg: #1E1E1E;
$body-color: #D4D4D4;
$bg-dark: #252526;
$font-family-monospace: Jetbrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

//Form fields
$input-bg: #252526;
$input-color: #D4D4D4;
$input-border-color: #ccc3;

//Button
$btn-dark-bg: #252526;
$btn-dark-border: #ccc3;

//Text
$text-primary-color: #D4D4D4;
$text-secondary-color: #569cd6;
$link-color: #9cdcfe;

//List Groups
$list-group-bg: #1E1E1E;
$list-group-border-color: #ccc3;
$list-group-item-padding-y: 0.5rem;
$list-group-item-padding-x: 0rem;