//Custom override of BootStrap

// Body
$body-bg: #1E1E1E;
$body-color: #D4D4D4;
$bg-dark: #252526;

//Form fields
$input-bg: #252526;
$input-color: #D4D4D4;
$input-border-color: #ccc3;

$btn-dark-bg: #252526;
$btn-dark-border: #ccc3;