<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body>
  <div class="container-fluid">
    <div class="row">
      JacobWilson.IO
    </div>
    <div class="row">
      <div class="col md-6">
        <div id="custom-search-input">
          <div class="input-group col-md 12">
            <input type="text" class="form-control input-lg" placeholder="wtf yo" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul>
        {% for link in site.data.links %}
        <li>
          <a href="{{ link.uri }}">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>