<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body>
  <div class="container">
    <div class="row">
      JacobWilson.IO
    </div>
    <div class="row">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-append" id="inputGroup-sizing-lg">-></span>
        </div>
        <input type="text" class="form-control" aria-label="googleSearch" aria-describedby="inputGroup-sizing-lg">
      </div>
    </div>
    <div class="row">
      <ul>
        {% for link in site.data.links %}
        <li>
          <a href="{{ link.uri }}">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>