---
layout: null
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body class="min-h-screen flex flex-col font-sans selection:bg-vscode-accent selection:text-white pb-6">

    {% include nav.html %}

    <main class="flex-grow w-full max-w-7xl mx-auto p-6">

        {% include lab.html %}
        {% include pgp.html %}

        <section id="view-startpage" class="fade-in h-full flex flex-col">
            <div class="flex-grow flex flex-col items-center justify-start pt-10 pb-20">
                {% include startpage/clock.html %}
                {% include startpage/search.html %}
                {% include link-grid.html %}
            </div>
        </section>

    </main>

    {% include scripts/clock.html %}
    {% include scripts/search.html %}
    {% include scripts/weather.html %}
    {% include scripts/views.html %}
    {% include footer.html %}

</body>
</html>
